.App {
  font-family: "Edu NSW ACT Foundation", cursive;
  text-align: center;
  color: #3c3c3c;
  border: 1px solid #707070;
  padding: 20px 20px 0 20px;
  margin: 20px auto;
  border-radius: 15px;
  max-width: 900px;
}

.footer {
  margin-top: 20px;
}

.footer-link {
  text-decoration: none;
}

h1,
h2 {
  font-weight: 900;
}

h2 {
  margin: 10px 0 12px 0;
}

.temperature-style {
  margin: 20px 0 0;
}

li {
  font-size: 20px;
  list-style: none;
  padding: 0;
  margin: 0;
}
ul {
  padding: 0;
  margin: 0;
}

.weather-forecast {
  font-size: 20px;
  text-align: center;
  list-style: none;
  margin-top: 20px;
}

.weather-forecast-date {
  opacity: 0.6;
}

.weather-forecast-temperature-min {
  opacity: 0.6;
}

.temperature {
  font-size: 60px;
}
.units {
  position: relative;
  top: -24px;
}
